*{
  font-family: "Montserrat", sans-serif;
}

nav{
  background-color: rgba(0, 0, 0, 0.623);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoaulab{
  width: 100px;
  height: 100px;
}

.link{
      text-decoration: none;
      color: white;
      margin-right: 10px;
}

.link:hover{
    border-bottom: 2px solid yellow;

}

.listlink{
    list-style-type: none;
    display: flex;
}

header{
    background-image: url(./media/background.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color: white;
    font-size: 50px;
}

.linkhome{
    text-decoration: none;
    color: white;
}

.btnarticle{
    background-color: rgba(0, 0, 0, 0.623);
    color: white;
}

.btnarticle:hover{
    background-color: yellow;
    color: black;
}

.titlearticle{
    text-align: center;
}

.imgarticle{
    width: 300px;
}

.containerarticles{
    display: flex;
    width: 60%;
}

aside{
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main{
    display: flex;
}