*{
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0%
}

nav{
  background-color: rgba(0, 0, 0, 0.623);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoaulab{
  width: 100px;
  height: 100px;
}

.link{
      text-decoration: none;
      color: white;
      margin-right: 10px;
}

.link:hover{
    border-bottom: 2px solid yellow;

}

.listlink{
    list-style-type: none;
    display: flex;
}

header{
    background-image: url(./media/background.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color: white;
    font-size: 50px;
}

.linkhome{
    text-decoration: none;
    color: white;
}

.btnarticle{
    background-color: rgba(0, 0, 0, 0.623);
    color: white;
}

.btnarticle:hover{
    background-color: yellow;
    color: black;
}

.titlearticle{
    text-align: center;
}

.imgarticle{
    width: 300px;
}

.containerarticles{
    display: flex;
    width: 60%;
}

aside{
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main{
    display: flex;
}

footer{
    color: white;
    background-color: rgba(0, 0, 0, 0.623);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    margin-top: 100px;
}

.imgicon{
    width: 50px;
    height: 50px;
    animation-name: icon;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: fixed;
    top: 400px;
    right: 10px;
}

@keyframes icon {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-width: 670px) {
    .link{
        font-size: 10px;    
    }
    .logoaulab{
        width: 50px;
        height: 50px;
    } 
    
 .containerarticles{
 display: block;
 width: 100%;
}
aside{
    width: 100%;
    display: block;
}

main{
    display: block;
}
article{
    margin : 50px 0px;
}
footer{
    display: block;
}